.table {
    margin: 1rem ;
    overflow:auto;
    height: 40vh ;
    color: #6a5d5d;
    background-color: white;
}

.table tr:nth-last-of-type(odd) {
    background-color: #f3f2f8;
}

.table td {
    padding: 0.5rem;
}

.table tr {
    display: flex;
    justify-content: space-between;
}